<p>product-details works!</p>
<div class="card">
  <div class="card-header">
    Details of <b>{{ product.name }}</b>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <!-- <tr>
          <th>Product Id</th>
          <td>{{ product.id }}</td>
        </tr> -->
        <tr>
          <th>Product Name</th>
          <td>{{ product.name }}</td>
        </tr>
        <tr>
          <th>Product Description</th>
          <td>{{ product.description }}</td>
        </tr>

        <tr>
          <th>Product Price</th>
          <td>{{ product.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a routerLink="/product" class="btn btn-secondary">Back To List</a>
    <!-- <button (click)="deleteEmployee()" class="btn-btn-danger">Delete</button>
    <a [routerLink]="['/employee.update', employee.id]" class="btn-btn-primary"
      >Update</a
    > -->
  </div>
</div>
