<div class="container">
  <div class="text-center">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> -->
    <div class="btn-group-vertical">
      <a class="btn btn-primary" routerLink="/home">Home</a>

      <br />
      <!-- </li> -->

      <!-- <li class="nav-item"> -->
      <a class="btn btn-success" routerLink="/product">Product</a>
      <!-- </li> -->
      <!-- <br /> -->
      <!-- <li class="nav-item"> -->
      <br />
      <a class="btn btn-dark" routerLink="/contact">Contact</a>
      <!-- </li> -->
      <!-- </ul>
    </nav> -->
      <br />
    </div>
  </div>
</div>
<!-- <app-product></app-product> -->
<router-outlet></router-outlet>
