<table
  class="table table-stripped"
  border="1"
  [cellPadding]="10"
  [cellSpacing]="0"
>
  <thead>
    <tr style="background-color: black; color: white">
      <th>Employee Id</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Age</th>
      <th>Profile Image</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.employee_name }}</td>
      <td>{{ employee.employee_salary }}</td>
      <td>{{ employee.employee_age }}</td>
      <td>{{ employee.profile_image }}</td>
      <!-- <td>{{ employee.age }}</td> -->
    </tr>
  </tbody>
</table>

<!-- <div *ngFor="let item of employees">
  {{ item.property }}
</div> -->
